<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="activemq.brokerUri" value="tcp://localhost:61616" />
    <add key="activemq.userName" value="admin" />
    <add key="activemq.password" value="admin" />
  </appSettings>
</configuration>
