body{
    background-color: darkcyan;
    font-family: 'Fredoka One', cursive;
    color:white;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#map {
    height: 500px;
    width: 100%;
}

.block-wrapper {
    display: inline-block;
    margin-bottom: 25px;
    text-align: center;
    width: calc(33.33% - 15px);
}

#struct_form{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}
.content_form_Origin{
    width: 50%;
}

.content_form_Dest{
    width: 50%;
}

#struct_validation{
    width: 100%;
    padding-bottom: 3%;
}

.floatRight{
    width: 100px;
}

 .hide {
     display: none;
}
 .button {
     position: relative;
     display: inline-flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 12.5rem;
     margin: 0;
     padding: 1.5rem 3.125rem;
     background-color: #3498db;
     border: none;
     border-radius: 0.3125rem;
     box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
     color: white;
     font-weight: 300;
     text-transform: uppercase;
     overflow: hidden;
}
 .button:before {
     position: absolute;
     content: '';
     bottom: 0;
     left: 0;
     width: 0%;
     height: 100%;
     background-color: #54d98c;
}
 .button span {
     position: absolute;
     line-height: 0;
}
 .button span i {
     transform-origin: center center;
}
 .button span:nth-of-type(1) {
     top: 50%;
     transform: translateY(-50%);
}
 .button span:nth-of-type(2) {
     top: 100%;
     transform: translateY(0%);
     font-size: 24px;
}
 .button span:nth-of-type(3) {
     display: none;
}
 .active {
     background-color: #2ecc71;
}
 .active:before {
     width: 100%;
     transition: width 3s linear;
}
 .active span:nth-of-type(1) {
     top: -100%;
     transform: translateY(-50%);
}
 .active span:nth-of-type(2) {
     top: 50%;
     transform: translateY(-50%);
}
 .active span:nth-of-type(2) i {
     animation: loading 500ms linear infinite;
}
 .active span:nth-of-type(3) {
     display: none;
}
 .finished {
     background-color: #54d98c;
}
 .finished .submit {
     display: none;
}
 .finished .loading {
     display: none;
}
 .finished .check {
     display: block !important;
     font-size: 24px;
     animation: scale 0.5s linear;
}
 .finished .check i {
     transform-origin: center center;
}
 @keyframes loading {
     100% {
         transform: rotate(360deg);
    }
}
 @keyframes scale {
     0% {
         transform: scale(10);
    }
     50% {
         transform: scale(0.2);
    }
     70% {
         transform: scale(1.2);
    }
     90% {
         transform: scale(0.7);
    }
     100% {
         transform: scale(1);
    }
}
 
.input--text {
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  font-size: 16px;
}
.input--text:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 
              0 0 5px rgba(81,167,232,0.5);
}
.input--text::-webkit-input-placeholder { color: #cacaca; }
.input--text::-ms-input-placeholder { color: #cacaca; }
.input--text::-moz-input-placeholder { color: #cacaca; }