<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <services>
			<service name="ProxyCacheJC.WebProxyRest">
				<endpoint address="http://hostproxyIns:10003/ProxyCacheJC/WebProxyRest" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="ProxyCacheJC.IWebProxyRest"/>
			</service>
        </services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
    </system.serviceModel>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>