<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="RoutingBikes.RoutingBikesRest">
				<endpoint address="http://localhost:10001/RoutingBikes/RoutingBikesRest" binding="webHttpBinding" behaviorConfiguration="WebBehavior" contract="RoutingBikes.IRoutingBikesRest"/>
			</service>

			<service behaviorConfiguration="ProductServiceBehaviorSOAP" name="RoutingBikes.RoutingBikesSoap">
				<endpoint address="" binding="basicHttpBinding" contract="RoutingBikes.IRoutingBikesSoap">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:10002/RoutingBikes/RoutingBikesSoap" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="WebBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ProductServiceBehaviorREST">
					<serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:10001/RoutingBikes/RoutingBikesRest"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="ProductServiceBehaviorSOAP">
					<serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:10002/RoutingBikes/RoutingBikesSoap"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<activemq>
		<brokerUri>activemq:tcp://localhost:61616</brokerUri>
		<userName>admin</userName>
		<password>admin</password>
	</activemq>
</configuration>
